#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
 font-family: 'Inter', sans-serif;
}


h1, h2, .product-title {
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
   font-weight: 700;
}